# Local Database
DATABASE_URL=postgresql://neondb_owner:npg_erXZo2jBMCA4@ep-soft-dawn-a1nrw56i-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Cloud Database (Neon)
CLOUD_DB_URL=postgresql://neondb_owner:npg_erXZo2jBMCA4@ep-soft-dawn-a1nrw56i-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Server
PORT=3000
NODE_ENV=development

# JWT Secrets
JWT_SECRET=blotter-management-system-program-application-2025
CLOUD_JWT_SECRET=blotter-management-system-program-application-2025

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
